arxiv==2.2.0
crawler==0.0.2
extractor==0.5
faiss==1.5.3
langchain==0.3.27
langchain_google_genai==2.1.11
langchain_ollama==0.3.8
langchain_openai==0.3.33
mcp==1.14.0
numpy==2.3.3
pdfminer==20191125
protobuf==6.32.1
pypdf==6.0.0
python-dotenv==1.1.1
python_dateutil==2.9.0.post0
PyYAML==6.0.2
Requests==2.32.5
scrapy==2.13.3
sentence_transformers==5.1.0
tiktoken==0.11.0
